<bot>
	<nick>TESTSM_BOT</nick>
	<name>smokinmils</name>
	<ircpw>5w807</ircpw>
	<server>irc.SwiftIRC.net</server>
	<port>6667</port>
	<ip>127.0.0.1</ip>
	<rake>testerroo3</rake>
    <identon>true</identon>
    
    <!--  limits commands to be run every 5 seconds -->
    <spam>
    	<channel>testerroo3</channel>
    </spam>
	
	<lottery>
		<channel>testerroo3</channel>
	</lottery>
	
	<db type="server">66.147.239.95</db>
	<db type="port">3306</db>
	<db type="dbname">test</db>
	<db type="dbuser">smbot</db>
	<db type="dbpass">SM_bot_2013$</db>
	
	<listener type="invite">
		<channel>testerroo3</channel>
	</listener>
	<listener type="referrals">
        <channel>testerroo3</channel>
        <option type="managementchan">testerroo3</option>
        <option type="hostchan">testerroo3</option>
	</listener>
	<listener type="roulette" id="1">
		<channel>testerroo3</channel>
		<option type="time">2</option>
	</listener>
	<listener type="rouletteDISABLED" id="2">
		<channel>testerroo3too</channel>
		<option type="time">2</option>
	</listener>
	<listener type="blackjackDISABLED">
		<channel>testerroo3</channel>
	</listener>
	<listener type="overunder">
		<channel>testerroo3</channel>
	</listener>
	<listener type="diceduel">
		<channel>testerroo3</channel>
	</listener>
    <listener type="dmDISABLED">
        <channel>testerroo3</channel>
        <channel>testerroo3too</channel>
    </listener>
	<listener type="usercommands">
		<channel>testerroo3</channel>
	</listener>
	<listener type="help">
		<channel>testerroo3</channel>
	</listener>
	<listener type="managersystem">
		<channel>testerroo3</channel>
		<option type="managementchan">testerroo3</option>
		<option type="activechan">testerroo3</option>
		<option type="hostchan">testerroo3</option>
	</listener>
	<listener type="coins">
		<channel>testerroo3</channel>
		<channel>testerroo3too</channel>
	</listener> 
	<listener type="createtimedroll">
		<channel>testerroo3</channel>
	</listener>
	<listener type="rpsDISABLED">
		<channel>testerroo3</channel>
		<option type="announce">testerroo3</option>
	</listener>
	<listener type="duel">
		<channel>testerroo3</channel>
		<option type="announce">testerroo3</option>
	</listener>
	<listener type="pokerDISABLED">
		<channel>testerroo3</channel>
	</listener>
	<listener type="auctionsDISABLED">
		<channel>testerroo3</channel>
	</listener>
	 
	<timer type="trc">
		<channel>testerroo3</channel>
		<option type="profile">EOC</option>
		<option type="prize">2</option>
		<option type="mins">5</option>
		<option type="rounds">-1</option>			
	</timer>
	<timer type="managerannounce">
		<channel>testerroo3</channel>
	</timer>
	<timer type="bettimer">
		<channel>testerroo3</channel>
		<option type="delay">5</option>
		<option type="period">60</option>
	</timer>
	<timer type="comptimer">
		<channel>testerroo3</channel>
		<option type="delay">1</option>
		<option type="period">1</option>
	</timer>
	<timer type="jackpottimer">
		<channel>testerroo3</channel>
		<option type="delay">2</option>
		<option type="period">60</option>
	</timer>
</bot>
	
	
